<?xml version='1.0' encoding='utf-8'?>
<widget id="net.musecom.rock" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>RSP</name>
    <description>간단한 가위바위보 게임임니다.</description>
    <author email="chan2746@naver.com" href="https://cordova.apache.org">
        Daeseong
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />

    <platform name="android">
        <icon foreground="res/android/mipmap-mdpi/ic_launcher.png" background="res/android/mipmap-mdpi/ic_back.png" density="mdpi" />
        <icon foreground="res/android/mipmap-hdpi/ic_launcher.png" background="res/android/mipmap-hdpi/ic_back.png" density="hdpi" />
        <icon foreground="res/android/mipmap-xhdpi/ic_launcher.png" background="res/android/mipmap-xhdpi/ic_back.png" density="xhdpi" />
        <icon foreground="res/android/mipmap-xxhdpi/ic_launcher.png" background="res/android/mipmap-xxhdpi/ic_back.png" density="xxhdpi" />
        <icon foreground="res/android/mipmap-xxxhdpi/ic_launcher.png" background="res/android/mipmap-xxxhdpi/ic_back.png" density="xxxhdpi" />

    </platform>
</widget>
